<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TEST</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css')}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'includes/_navbar.html' %}
{% block body %}
<div class="tabcontent" id="Apps">
    <section class="one-fourth-one" id="css">
        <tb><img src="{{ url_for('static', filename='sushi.jpg')}}"></tb>
        <p>I think all images needs to be the same size</p>
    </section>
    <section class="one-fourth-one" id="seo">
        <tb><img src="{{ url_for('static', filename='sushi.jpg')}}"></tb>
        <p>I think all images needs to be the same size</p>
    </section>
    <section class="one-fourth" id="social">
        <tb><img src="{{ url_for('static', filename='sushi.jpg')}}"></tb>
        <p>I think all images needs to be the same size</p>
    </section>
    <section class="one-fourth" id="html">
        <tb><img src="{{ url_for('static', filename='sushi.jpg')}}"></tb>
        <p>I think all images needs to be the same size</p>
    </section>

</div>

{% endblock %}
</body>
<!--End Four Column Section-->
<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
document.getElementById('home1').click();
</script>
</html>
