body,h1 {font-family: "Montserrat", sans-serif}

.tabcontent { 
   position: relative; 
}
body{
  padding-bottom: 225%;
}

img {margin-bottom: -7px;}
/**Transitions while div column instead of individual div elements. Needs fix  
div{
  transition: width 2s, height 2s;
}
div:hover{
  width: 100%;
  height: 100%;
}**/
.row-padding img {margin-bottom: 12px}
body{
background-color:lightgrey;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}
div.bottom_tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;;
    bottom:0px;
    width:100%;
    z-index: 2;
    margin: 0 auto;

}

/*.footer{
    height:24px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}
.footer_contents {

    height:24px; // Replace with the height your footer should be
    width: 1000px; // Visible width of footer
    margin:auto;

}*/

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: 20px;
    border-color: black;
    outline: none;
    cursor: pointer;
    padding: 10px 12px 10px;
    transition: 0.3s;
    font-size: 17px;
}
div.fa-fahome button{
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.bottom_tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 25px;
    transition: 0.3s;
    font-size: 30px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}
div.bottom_tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.bottom_tab button.active {
    background-color: #ccc;
}
div.bottom_tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (min-device-width : 320px) {

}
@media screen and (max-width: 768px) {

  div.tab button {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px 10px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: block;
}
/* Styles */
}
