body,h1 {font-family: "Montserrat", sans-serif}

.tabcontent { 
   position: relative; 
}

.name1 { 
   position: absolute; 
   top: 920%;
   left: 5.5%;
   color: black;

}
.price{ 
   position: absolute; 
   top: 920%;
   left: 39%;
   color: black;

}
#button1{
  position: absolute; 
  top: 118%;
  left: 38%;
}

.name2 { 
   position: absolute; 
   top: 235px;
   left: 5.5%;
   color: black;
}
.price1{ 
   position: absolute; 
   top: 235px;
   left: 39%;
   color: black;

}
#button2{
  position: absolute; 
  top: 1160%;
  left: 38%;
}

.name3 { 
   position: absolute; 
   top: 358px;
   left: 5.5%;
   color: white;

}
.price2{ 
   position: absolute; 
   top: 358px;
   left: 39%;
   color: white;
 }
 #button3{
  position: absolute; 
  top: 2200%;
  left: 38%;
}
.name4 { 
   position: absolute; 
   top: 484px;
   left: 5.5%;
   color: black;

}
.price3{ 
   position: absolute; 
   top: 484px;
   left: 39%;
   color: black;
 }
#button4{
  position: absolute; 
  top: 3239%;
  left: 38%;
}
.name5 { 
   position: absolute; 
   top: 606px;
   left: 5.5%;
   color: black;

}
.price4{ 
   position: absolute; 
   top: 606px;
   left: 39%;
   color: black;
 }
#button5{
  position: absolute; 
  top: 118%;
  right: 5%;
}
.name6{
    position: absolute;
    top: 110px;
    right: 36%;
    color: black;
}
.price5{ 
   position: absolute; 
   top: 110px;
   right: 6%;
   color: black;
 }
 #button6{
  position: absolute; 
  top: 1160%;
  right: 5%;
}
.name7{
    position: absolute;
    top: 235px;
    right: 36%;
    color: black;
}
.price6{ 
   position: absolute; 
   top: 235px;
   right: 6%;
   color: black;
 }
 #button7{
  position: absolute; 
  top: 2200%;
  right: 5%;
}
.name8{
    position: absolute;
    top: 358px;
    right: 36%;
    color: white;
}
.price7{ 
   position: absolute; 
   top: 358px;
   right: 6%;
   color: white;
 }
 #button8{
  position: absolute; 
  top: 3239%  ;
  right: 5%;
}
.name9{
    position: absolute;
    top: 484px;
    right: 36%;
    color: black;
}
.price8{ 
   position: absolute; 
   top: 484px;
   right: 6%;
   color: black;
 }
 #button9{
  position: absolute; 
  top: 2200%;
  left: 38%;
}
.name10{
    position: absolute;
    top: 606px;
    right: 34%;
    color: black;
}
.price9{ 
   position: absolute; 
   top: 606px;
   right: 6%;
   color: black;
 }
 #button10{
  position: absolute; 
  top: 4279%;
  right: 5%;
}

img {margin-bottom: -7px;}
/**Transitions while div column instead of individual div elements. Needs fix  
div{
  transition: width 2s, height 2s;
}
div:hover{
  width: 100%;
  height: 100%;
}**/
.row-padding img {margin-bottom: 12px}
body{
background-color:lightgrey;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;;
    width:100%;
    z-index: 2;
}
div.bottom_tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;;
    bottom:0px;
    width:100%;
    z-index: 2;

}

/*.footer{
    height:24px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}
.footer_contents {

    height:24px; // Replace with the height your footer should be
    width: 1000px; // Visible width of footer
    margin:auto;

}*/

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px 10px;
    transition: 0.3s;
    font-size: 17px;
}
div.fa-fahome button{
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.bottom_tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 25px;
    transition: 0.3s;
    font-size: 30px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}
div.bottom_tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.bottom_tab button.active {
    background-color: #ccc;
}
div.bottom_tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
