<div class="tab">
  		<button class="tablinks" onclick="openTab(event, 'Apps')">Apps</button>
  		<button class="tablinks" onclick="openTab(event, 'Entrees')">Entrees</button>
  		<button class="tablinks" onclick="openTab(event, 'Desserts')">Desserts</button>
  		<button class="tablinks" onclick="openTab(event, 'cart')">Drinks</button>
	</div>
	<div class="bottom_tab">
  		<button class="fa fa-home" onclick="openTab(event, 'home')" id="home1"></button>
  		<button class="fa fa-filter" onclick="openTab(event, 'filter')"></button>
  		<button class="tablinks" onclick="openTab(event, 'cart')">$0.00</button>
  		<button class="fa fa-opencart" onclick="openTab(event, 'cart')"></button>
	</div>